Appsecrets.logicapp.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "Recurrence": {
        "type": "Recurrence",
        "recurrence": {
          "interval": 1,
          "frequency": "Day"
        }
      }
    },
    "actions": {
      "AppID": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "appId",
              "type": "string"
            }
          ]
        },
        "runAfter": {}
      },
      "DisplayName": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "DisplayName",
              "type": "string"
            }
          ]
        },
        "runAfter": {
          "AppID": [
            "Succeeded"
          ]
        }
      },
      "PasswordCredentials": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "passwordCredentials",
              "type": "array"
            }
          ]
        },
        "runAfter": {
          "DisplayName": [
            "Succeeded"
          ]
        }
      },
      "Get_Token": {
        "type": "Http",
        "inputs": {
          "uri": "https://login.microsoftonline.com:443/tenantId/oauth2/v2.0/token",
          "method": "POST",
          "headers": {
            "Content-Type": " application/x-www-form-urlencoded"
          },
          "body": "tenant=yourtenantId&client_id=azureAdAppclientId&client_secret=YourSecret&grant_type=client_credentials&scope= https://graph.microsoft.com/.default"
        },
        "runAfter": {
          "PasswordCredentials": [
            "Succeeded"
          ]
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          }
        }
      },
      "Parse_JSON": {
        "type": "ParseJson",
        "inputs": {
          "content": "@body('Get_Token')",
          "schema": {
            "type": "object",
            "properties": {
              "token_type": {
                "type": "string"
              },
              "expires_in": {
                "type": "integer"
              },
              "ext_expires_in": {
                "type": "integer"
              },
              "access_token": {
                "type": "string"
              }
            }
          }
        },
        "runAfter": {
          "Get_Token": [
            "Succeeded"
          ]
        }
      },
      "Get_Applications": {
        "type": "Http",
        "inputs": {
          "uri": "https://graph.microsoft.com/v1.0/applications?&$select=id,appid,displayname,passwordCredentials",
          "method": "GET",
          "authentication": {
            "type": "Raw",
            "value": "@{body('Parse_JSON')?['access_token']}"
          }
        },
        "runAfter": {
          "Parse_JSON": [
            "Succeeded"
          ]
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          }
        }
      },
      "JsonParse": {
        "type": "ParseJson",
        "inputs": {
          "content": "@body('Get_Applications')",
          "schema": {
            "type": "object",
            "properties": {
              "value": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "appId": {
                      "type": "string"
                    },
                    "displayName": {
                      "type": "string"
                    },
                    "passwordCredentials": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customKeyIdentifier": {},
                          "displayName": {
                            "type": "string"
                          },
                          "endDateTime": {
                            "type": "string"
                          },
                          "hint": {
                            "type": "string"
                          },
                          "keyId": {
                            "type": "string"
                          },
                          "secretText": {},
                          "startDateTime": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "customKeyIdentifier",
                          "displayName",
                          "endDateTime",
                          "hint",
                          "keyId",
                          "secretText",
                          "startDateTime"
                        ]
                      }
                    }
                  },
                  "required": [
                    "id",
                    "appId",
                    "displayName",
                    "passwordCredentials"
                  ]
                }
              }
            }
          }
        },
        "runAfter": {
          "Get_Applications": [
            "Succeeded"
          ]
        }
      },
      "For_each_value": {
        "type": "Foreach",
        "foreach": "@body('JsonParse')?['value']",
        "actions": {
          "Set_AppID": {
            "type": "SetVariable",
            "inputs": {
              "name": "appId",
              "value": "@items('For_each_value')?['appId']"
            }
          },
          "Set_DisplayName": {
            "type": "SetVariable",
            "inputs": {
              "name": "DisplayName",
              "value": "@items('For_each_value')?['displayName']"
            },
            "runAfter": {
              "Set_AppID": [
                "Succeeded"
              ]
            }
          },
          "Set_PasswordCredentials": {
            "type": "SetVariable",
            "inputs": {
              "name": "passwordCredentials",
              "value": "@items('For_each_value')?['passwordCredentials']"
            },
            "runAfter": {
              "Set_DisplayName": [
                "Succeeded"
              ]
            }
          },
          "For_each_passwordCredential": {
            "type": "Foreach",
            "foreach": "@items('For_each_value')?['passwordCredentials']",
            "actions": {
              "Condition": {
                "type": "If",
                "expression": {
                  "and": [
                    {
                      "lessOrEquals": [
                        "@items('For_each_passwordCredential')?['EndDateTime']",
                        "@addToTime(utcNow(),2,'Year')"
                      ]
                    }
                  ]
                },
                "actions": {
                  "Send_an_email_(V2)": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['outlook-1']['connectionId']"
                        }
                      },
                      "method": "post",
                      "body": {
                        "To": "abc@live.com",
                        "Subject": "Your application Name : @{items('For_each_value')?['displayName']} is about to expire",
                        "Body": "<p>Hi Team,</p><br><p>This is to notify that your application with AppID:@{items('For_each_value')?['appId']} with Name : @{items('For_each_value')?['displayName']} is about to expire.</p><br><p>Please make sure you update the value.<br><br>Location: https://portal.azure.com/?quickstart=true#view/Microsoft_AAD_RegisteredApps/ApplicationMenuBlade/~/Overview/appId/@{items('For_each_value')?['appId']}</p><br>",
                        "Importance": "High"
                      },
                      "path": "/v2/Mail"
                    }
                  }
                },
                "else": {
                  "actions": {}
                }
              }
            },
            "runAfter": {
              "Set_PasswordCredentials": [
                "Succeeded"
              ]
            }
          }
        },
        "runAfter": {
          "JsonParse": [
            "Succeeded"
          ]
        }
      }
    },
    "outputs": {},
    "parameters": {
      "$connections": {
        "type": "Object",
        "defaultValue": {}
      }
    }
  },
  "parameters": {
    "$connections": {
      "value": {
        "outlook-1": {
          "id": "/subscriptions/d53879b6-f36b-4641-a74d-59519e76a049/providers/Microsoft.Web/locations/eastus/managedApis/outlook",
          "connectionId": "/subscriptions/d53879b6-f36b-4641-a74d-59519e76a049/resourceGroups/MyNewResourceGroup/providers/Microsoft.Web/connections/outlook-1",
          "connectionName": "outlook-1"
        }
      }
    }
  }
}
